@use 'variables';

.viajes{
    background-color: variables.$color1;
    width: 100%;
  }

.titulo {
  font-size: 28px;
  padding: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}

.subtitulo {
  font-size: 20px;
  text-align: center;
  padding: 0 10px 20px;
  color: variables.$color2;
}

.carrusel {
  max-width: 600px;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 40px auto;

  & h3 {
    margin: 10px;
    font-size: 24px;
    color: #fff;
    letter-spacing: 1px;
  }

  & p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    text-align: justify;
    padding: 10px 0;
  }
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p {
    color: variables.$color2;
    font-size: 22px;
    padding: 0 10px 10px;
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid variables.$color1;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: variables.$color1;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;

    & img{
      width: 30px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}